* {
    box-sizing: border-box;
}

#grid-container {}

#grid {}

.row {
    padding: 0;
    margin: 0;
}

.cell {
    display: inline-block;
    border: 1px black solid;
    margin: 0;
}

.red {
    background: salmon;
}